<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geotab.mobile.sdk">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <permission android:name="${applicationId}.permission.USB_PERMISSION" />

    <application>
        <activity
            android:name="com.geotab.mobile.sdk.permission.PermissionActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="false"/>
        <activity android:name="com.geotab.mobile.sdk.NotificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.geotab.mobile.sdk.UsbConnectionActivity"
            android:exported="true"
            android:permission="${applicationId}.permission.USB_PERMISSION">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service
            android:name="com.geotab.mobile.sdk.module.app.ForeGroundService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Geotab Drive offers native notification alerts to drivers concerning both Hours of Service (HOS) violations and availability status. These alerts serve as valuable aids for Geotab Drive users, facilitating enhanced management of work hours and contributing to the reduction of driver fatigue, thereby fostering improved road safety. Moreover, Geotab Drive enables administrators to dispatch native notifications to drivers, providing information on their scheduled daily routes. To further prioritize safety, Geotab Drive incorporates text-to-speech functionality for these native notifications, mitigating the need for drivers to divert their attention from the road while reviewing alerts. This feature underscores Geotab Drive's commitment to promoting seamless communication and safety within the transportation industry.
"/>
        </service>


        <receiver
            android:name="com.geotab.mobile.sdk.module.localNotification.ClearNotificationReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />

    </application>

</manifest>